/* untuk CSS eksternal itu strukturnya: */
/*selector{
property : value;
}*/

h1{
    color: brown;
    font-family: Verdana;
}

p{
    font-family: Arial;
}

b{
    color: blue;
}

i{
    background-color: cyan;
}
