body {
  background-color: #0d1117;
  color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}
header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;        /* ketebalan huruf */
  letter-spacing: 1px;     /* jarak antar huruf */
  color: #fff;             /* warna teks */
  background-color: #2b2b2b; /* warna latar belakang header */
  text-transform: uppercase; /* huruf besar semua */
}

h1, h2, h3 {
  color: #00bcd4;
}

img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00bcd4;
}

form {
  background-color: #1f1f1f;
}

button {
  background-color: #00bcd4;
  color: black;
}

button:hover {
  background-color: #0288d1;
  color: white;
}

#daftarKomentar div {
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #181818;
}

@media (max-width: 768px) {
  h1 { font-size: 22px; }
  h2 { font-size: 18px; }
}
