/* CSS CASCADE ATAU ATURAN PADA CSS */



*{
    font-family: Arial;
}

/* aturan terakhir */
i{
    color: green;
}

i{
     color: red; /*yang akan diambil yang ini */
}


/* specific */
b{
    color: pink; /* level 1 */
}

p b{
    color: brown !important; /* level 3 */
}

p b{
    color: blue; /* level 2 */
}

p b{
    font-size: 150%;
}


/* study kasus */
p{
    font-size: 100%;
}

p#pendahuluan{
    font-size: 75%; /* lebih spesific */
}